**/.idea
**/.ipynb_checkpoints
**/__pycache__
backends
FigureTable
LICENSE
MRI_process
catboost_info
checkpoint_dir
demo
demo_inference.py
draw.ipynb
pythonProject3.zip
二分类MRI模型.zip
source_code
tb_log
test.log
venv
论文
data_preprocess/MRI_process/test_data
data_preprocess.zip
data_preprocess_20221225.zip
data_preprocess/ADNI数据预处理步骤.docx
model_eval/eval_result/images/all_test_set/scatter
model_eval/eval_result/images/all_test_set/heatmap
